/*  your css code here. If applicable */
.container{
	background-color:#D3D3D3;
	padding:10px;
}

.container ul{
	display:flex;
	text-decoration:none;
	list-style:none;
}

ul li a{
	text-decoration:none;
	margin-right:1rem; 
}